@use "../config" as *;

.contacts {
  display: flex;
  @include phones {
    justify-content: space-around;
    flex: 1 1 auto;
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(30px);
      @include tables {
        margin-right: rem(14px);
      }
      @include phones {
        margin: 0;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(16px);
    line-height: 170%;
    color: $mainWhite;
    white-space: nowrap;
  }

  &__text {
    margin-left: rem(5px);
    @include tables {
      display: none;
    }
  }

  &__icon {
    fill: $mainWhite;
  }
}