@use "../config" as *;

.contacts {
  display: flex;

  &-item {
    &:not(:last-child) {
      margin-right: rem(30px);
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(16px);
    line-height: 170%;
    color: $mainWhite;
    white-space: nowrap;
  }
  &-text{
    margin-left: rem(5px);
  }
  &-icon{
    fill: $mainWhite;
  }
}