@use "../config" as *;
.socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10000;

  &__item {
    transition: 0.3s;

    &:not(:last-child) {
      margin-bottom: rem(14px);
    }

    &:hover {
      transform: scale(1.1);
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      fill: $mainWhite;
    }
  }
}