.socials {
  position: absolute;
  right: rem(27px);
  top: rem(281px);
  display: flex;
  flex-direction: column;
  z-index: 10000;

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(14px);
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-icon {
      fill: white;
    }
  }
}