// Font
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 150%;

$headingFont: 'Ubuntu', sans-serif;

// Container sizes
$desktopWidth: 1110px;
$tableWidth: 540px;
$phonesWidth: 480px;

// Colors
$mainOrange: #FFAB00;
$mainWhite: #FFFFFF;
$mainBlack: #000000;
$textGray: #4E5C66;
$textOrange: #FF9C01;