// Font
$mainFont: 'Roboto', sans-serif;
$mainFontSize: 14px;
$mainLineHeight: 21px;

$headingFont: 'Ubuntu', sans-serif;

// Sizes
$desktopWidth: 1110px;
$tableWidth: 768px;
$phonesWidth: 480px;

// Colors
$mainOrange: #FFAB00;
$mainWhite: #FFFFFF;
$mainBlack: #000000;
$textGray: #4E5C66;
$textOrange: #FF9C01;