@use "../config" as *;

.footer {
  background: $mainOrange;

  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px) 0;
  }

  &__icon {
    width: rem(42px);
    height: rem(42px);
    background: $mainWhite;
    border-radius: 100%;
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__btn {
    background: $mainWhite;
    color: $mainOrange;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18px);
    line-height: 170%;
    border-radius: rem(100px);
    padding: rem(8px) rem(25px);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: 0.3s;
    margin-right: rem(10px);

    &:hover {
      transform: scale(1.05);
    }

    &--partner {
      display: none;
    }

    &-wrap {
      margin-left: rem(98px);
      display: flex;
      align-items: center;
      margin-right: rem(-10px);
    }

    &-icon {
      display: none;
    }
  }
}