@use "../config" as *;

.footer {
  background: $mainOrange;

  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px) 0;
  }

  &__icon {
    width: rem(42px);
    height: rem(42px);
    background: $mainWhite;
    border-radius: 100%;
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: center;
    @include phones {
      flex: 1 1 auto;
    }
  }

  &__btn {
    &-wrap {
      margin-left: rem(98px);
      display: flex;
      align-items: center;
      margin-right: rem(-10px);
      @include tables {
        margin-right: rem(-14px);
        margin-left: rem(14px);
      }
      @include phones {
        margin: 0;
        justify-content: space-around;
        flex: 1 1 auto;
      }
    }

    background: $mainWhite;
    color: $mainOrange;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18px);
    line-height: 170%;
    border-radius: rem(100px);
    padding: rem(8px) rem(25px);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: 0.3s;
    margin-right: rem(10px);
    @include tables {
      padding: 0;
      background: none;
      border-radius: unset;
      margin-right: rem(14px);
    }
    @include phones {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.05);
    }


    &--tables {
      display: none;

      & .footer__btn-text {
        @include tables {
          display: flex;
        }
        @include phones {
          display: none;
        }
      }

      & .footer__btn-icon {
        @include tables {
          display: none;
        }
        @include phones {
          fill: $mainWhite;
          display: flex;
        }
      }

      @include tables {
        display: flex;
        background: $mainWhite;
        border-radius: rem(100px);
        padding: rem(8px) rem(25px);
      }
      @include phones {
        padding: 0;
        background: none;
        border-radius: unset;
      }
    }

    &-icon {
      display: none;
      @include tables {
        display: flex;
        fill: white;
      }
    }

    &-text {
      @include tables {
        display: none;
      }
    }
  }
}