section(class="app-download")
    div(class="app-download__container container")
        div(class="app-download__img-wrap")
            img(class="app-download__img" src="./images/telephones/telephone_2.png" alt="Telephone image")
        div(class="app-download__wrap")
            h1(class="app-download__heading") <span class="app-download__heading--orange">Где</span> скачать &#128640;
            div(class="app-download__text") Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа
            div(class="app-download__link-wrap")
                a(class="app-download__link" href="./")
                    img(class="app-download__link-img" src="./images/other/googleplay.png" alt="Google download")
                a(class="app-download__link" href="./")
                    img(class="app-download__link-img" src="./images/other/appstore.png" alt="Appstore download")