section(class="app-platform")
    div(class="app-platform__container container")
        div(class="app-platform__wrap")
            h2(class="app-platform__heading") <span class="app-platform__heading--orange">Единая платформа</span> ДЛЯ всей россии &#127759;
            div(class="app-platform__text") Скачивайте приложение и создавайте свое виртуальное кафе электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказаСкачивайте приложение и создавайте свое виртуальное кафе
        div(class="app-platform__img-wrap")
            img(class="app-platform__img" src="./images/other/map.png" alt="Map image")