section.app-download
    div.app-download__container.container
        div.app-download__img-wrap
            img(class="app-download__img" src="./images/telephones/telephone_2.png" alt="Telephone image")
        div.app-download__wrap
            h1.app-download__heading
                span.app-download__heading--orange Где
                |
                |  скачать &#128640;
            div.app-download__text Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа
            div.app-download__link-wrap
                a(class="app-download__link" href="./")
                    img(class="app-download__link-img" src="./images/other/googleplay.png" alt="Google download")
                a(class="app-download__link" href="./")
                    img(class="app-download__link-img" src="./images/other/appstore.png" alt="Appstore download")