section.app-platform
    div.app-platform__container.container
        div.app-platform__wrap
            h2.app-platform__heading
                span.app-platform__heading--orange Единая платформа
                |
                |  ДЛЯ всей россии &#127759;
            div.app-platform__text Скачивайте приложение и создавайте свое виртуальное кафе электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказаСкачивайте приложение и создавайте свое виртуальное кафе
        div.app-platform__img-wrap
            img(class="app-platform__img" src="./images/other/map.png" alt="Map image")