section.app-delivery
    div.app-delivery__balls
    div.app-delivery__background
        div.app-delivery__background-mask
    div.app-delivery__container.container
        div.app-delivery__img-wrap
            img(class="app-delivery__img" src="./images/other/delivery.png" alt="Delivery image")
        div.app-delivery__wrap
            h2.app-delivery__heading у нАС ЕСТЬ ДОСТАВКА &#128641;
            div.app-delivery__text Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа виртуальное кафе с электронным меню, доставкой