mixin listItem(numbers, title)
    li.app-restaurants__features-item
        span.app-restaurants__features-numbers !{numbers}
        span.app-restaurants__features-title !{title}
section.app-restaurants
    div.app-restaurants__balls
    div.app-restaurants__background
        div.app-restaurants__background-mask
    div.app-restaurants__clip-wrap
        div.app-restaurants__container.container
            div.app-restaurants__wrap
                h2.app-restaurants__heading
                    span.app-restaurants__heading--orange Ваши
                    |
                    |  ЛЮБИМЫЕ &#128241; РЕСТОРАНЫ онлайн
                div.app-restaurants__text Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа
                ul.app-restaurants__features
                    +listItem("1740 +", "Скачиваний")
                    +listItem("12 +", "Ресторанов")
                    +listItem("ДО 90%", "Cкидки")
            div.app-restaurants__img-wrap
                img(class="app-restaurants__img" src="./images/telephones/telephone_3_1.png" alt="Telephone image")
                img(class="app-restaurants__img app-restaurants__img--tables" src="./images/telephones/telephone_3_2.png" alt="Telephone image")
