section(class="app-delivery")
    div(class="app-delivery__balls")
    div(class="app-delivery__background")
        div(class="app-delivery__background-mask")
    div(class="app-delivery__container container")
            div(class="app-delivery__img-wrap")
                img(class="app-delivery__img" src="./images/other/delivery.png" alt="Delivery image")
            div(class="app-delivery__wrap")
                h2(class="app-delivery__heading") у нАС ЕСТЬ ДОСТАВКА &#128641;
                div(class="app-delivery__text") Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе с электронным меню, доставкой и возможностью предзаказа виртуальное кафе с электронным меню, доставкой