section(class="contact-us")
    div(class="contact-us__container container")
        form(class="contact-us__form" action="" method="POST")
            div(class="contact-us__heading") Связаться с нами &#128155;
            div(class="contact-us__text") Вы можете связаться с нами  по любому вопросу
            div(class="contact-us__wrap")
                div(class="contact-us__inner")
                    ul(class="contact-us__input-list")
                        li(class="contact-us__input-item")
                            input(class="contact-us__input" type="text" placeholder="Ваше Имя")
                        li(class="contact-us__input-item")
                            input(class="contact-us__input" type="tel" placeholder="Телефон")
                        li(class="contact-us__input-item")
                            input(class="contact-us__input" type="email" placeholder="E-mail")
                    div(class="contact-us__privacy") Нажимая на кнопку “Отправить” вы соглашаетесь с
                        a(class="contact-us__privacy-link" href="") политикой конфиденциальности
                button(class="contact-us__submit" type="submit") Отправить