section.contact-us#contact-us
    div.contact-us__container.container
        form(class="contact-us__form" action="" method="POST")
            div.contact-us__heading Связаться с нами &#128155;
            div.contact-us__text Вы можете связаться с нами  по любому вопросу
            div.contact-us__wrap
                div.contact-us__inner
                    ul.contact-us__input-list
                        li.contact-us__input-item
                            input(class="contact-us__input" type="text" placeholder="Ваше Имя")
                        li.contact-us__input-item
                            input(class="contact-us__input" type="tel" placeholder="Телефон")
                        li.contact-us__input-item
                            input(class="contact-us__input" type="email" placeholder="E-mail")
                    div.contact-us__privacy Нажимая на кнопку “Отправить” вы соглашаетесь с <a class="contact-us__privacy-link" href="">политикой конфиденциальности</a>
                button(class="contact-us__submit" type="submit") Отправить