mixin listItem(title, answer)
    li.faq__item
        div.faq__item-wrap
            span.faq__item-title !{title}
            div.faq__item-open
        div.faq__item-answer !{answer}
section.faq
    div.faq__container.container
        div.faq__wrap
            h2.faq__heading Часто задаваемы
                span.faq__heading--orange  вопросы &#127850;
            ul.faq__list
                +listItem("Вопрос в несколько слов","Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе")
                +listItem("Вопрос в несколько строк","Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе")
                +listItem("Вопрос в несколько букв","Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе")
                +listItem("Вопрос в несколько символов","Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе")
                +listItem("Вопрос в несколько слов","Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе")
        div.faq__img-wrap
            img(class="faq__img" src="./images/other/faq.png" alt="FAQ image")