section(class="faq")
    div(class="faq__container container")
        div(class="faq__wrap")
            h2(class="faq__heading") Часто задаваемы <span class="faq__heading--orange"> вопросы &#127850;</span>
            ul(class="faq__list")
                li(class="faq__item")
                    div(class="faq__item-wrap")
                        span(class="faq__item-title") Вопрос в несколько слов
                        div(class="faq__item-open")
                    div(class="faq__item-answer") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
                li(class="faq__item")
                    div(class="faq__item-wrap")
                        span(class="faq__item-title") Вопрос в несколько строк
                        div(class="faq__item-open")
                    div(class="faq__item-answer") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
                li(class="faq__item")
                    div(class="faq__item-wrap")
                        span(class="faq__item-title") Вопрос в несколько букв
                        div(class="faq__item-open")
                    div(class="faq__item-answer") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
                li(class="faq__item")
                    div(class="faq__item-wrap")
                        span(class="faq__item-title") Вопрос в несколько символов
                        div(class="faq__item-open")
                    div(class="faq__item-answer") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
                li(class="faq__item")
                    div(class="faq__item-wrap")
                        span(class="faq__item-title") Вопрос в несколько слов
                        div(class="faq__item-open")
                    div(class="faq__item-answer") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе
        div(class="faq__img-wrap")
            img(class="faq__img" src="./images/other/faq.png" alt="FAQ image")