footer(class="footer")
    div(class="footer__container container")
        div(class="footer__icon")
        div(class="footer__wrap")
            ul(class="footer__contacts")
                li(class="footer__contacts-item")
                    a(class="footer__contacts-link" href="tel:+79770000000")
                        svg(class="footer__contacts-icon" width="24" height="24" viewBox="0 0 24 24")
                            use(xlink:href="./images/sprites.svg#phone")
                        span(class="footer__contacts-text") +7 977 000-00-00
                li(class="footer__contacts-item")
                    a(class="footer__contacts-link" href="mailto:support@mail.ru")
                        svg(class="footer__contacts-icon" width="24" height="24" viewBox="0 0 24 24")
                            use(xlink:href="./images/sprites.svg#mail")
                        span(class="footer__contacts-text") support@mail.ru
            a(class="footer__login btn" href="./") Войти