section(class="mobile-app")
    div(class="mobile-app__balls")
    div(class="mobile-app__background")
        div(class="mobile-app__background-mask")
    div(class="mobile-app__clip-wrap")
        div(class="mobile-app__container container")
            div(class="mobile-app__wrap")
                h2(class="mobile-app__heading") <span class="mobile-app__heading--orange">Ваши </span>ЛЮБИМЫЕ &#128241; РЕСТОРАНЫ онлайн
                div(class="mobile-app__text") Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа Скачивайте приложение и создавайте свое виртуальное кафе  с электронным меню, доставкой и возможностью предзаказа
                ul(class="mobile-app__features")
                    li(class="mobile-app__features-item")
                        span(class="mobile-app__features-numbers") 1740 +
                        span(class="mobile-app__features-title") Скачиваний
                    li(class="mobile-app__features-item")
                        span(class="mobile-app__features-numbers") 12 +
                        span(class="mobile-app__features-title") Ресторанов
                    li(class="mobile-app__features-item")
                        span(class="mobile-app__features-numbers") ДО 90%
                        span(class="mobile-app__features-title") Cкидки
            div(class="mobile-app__img-wrap")
                img(class="mobile-app__img" src="./images/telephones/telephone_3.png" alt="Telephone image")
