section(class="reviews")
    div(class="reviews__balls")
    div(class="reviews__background")
        div(class="reviews__background-mask")
        div(class="reviews__background-img")
    div(class="reviews__container container")
        div(class="reviews__img-wrap")
            img(class="reviews__img" src="./images/telephones/telephone_4.png" alt="Delivery image")
        div(class="reviews__wrap")
            h2(class="reviews__heading") ОТЗЫВЫ &#128171;
            div(class="reviews__text") Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа:
            div(class="reviews__quote-img-wrap")
                img(class="reviews__quote-img" src="./images/other/quote.png" alt="Delivery image")
            div(class="reviews__quote-text") Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
            span(class="reviews__quote-author") Андрей мирнов, Клиент
