section.reviews
    div.reviews__balls
    div.reviews__background
        div.reviews__background-mask
        div.reviews__background-img
    div.reviews__container.container
        div.reviews__img-wrap
            img(class="reviews__img" src="./images/telephones/telephone_4.png" alt="Delivery image")
        div.reviews__wrap
            h2.reviews__heading ОТЗЫВЫ &#128171;
            div.reviews__text Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа:
            div.reviews__quote-img-wrap
                img(class="reviews__quote-img" src="./images/other/quote.png" alt="Delivery image")
            div.reviews__quote-text Скачивайте приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа приложение и создавайте свое виртуальное афеэлектронным меню, доставкой и возможностью предзаказа
            span.reviews__quote-author Андрей мирнов, Клиент
