@use "../config" as *;

.app-delivery {
  height: rem(562px);
  position: relative;
  @include tables {
    height: rem(308px);
  }
@include phones{
  height: auto;
  padding: rem(20px) 0;
}
  &__balls {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: rem(648px);
    background-image: url("./images/backgrounds/balls_app-delivery.png");
    background-repeat: no-repeat;
    background-position: 75% center;
    background-size: contain;
    @include tables {
      display: none;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #FFAB00 0%, #FFCD68 29.64%, #FFAB00 85.3%, #FFAB00 100%);
    clip-path: ellipse(95% 100% at 50% 100%);
    z-index: 10;
    top: 0;
    @include tables {
      clip-path: ellipse(150% 100% at 50% 100%);
    }
    @include phones{
      clip-path: none;
    }

    &-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include phones {
        display: none;
      }

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        bottom: rem(100px);
        background: $mainWhite;
        clip-path: ellipse(88% 100% at 50% 100%);
        @include tables {
          bottom: rem(50px);
          clip-path: ellipse(150% 90% at 50% 100%);
        }
      }
    }
  }

  &__container {
    flex-direction: row;
    align-items: center;
    height: 100%;
    z-index: 1000;
    position: relative;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 rem(515px);
    @include phones{
      flex: 1 1 auto;
    }
  }

  &__heading {
    font-family: $headingFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: 120%;
    text-transform: uppercase;
    color: $mainWhite;
    margin-bottom: rem(30px);
    max-width: rem(445px);
    @include tables {
      font-size: rem(16px);
      margin-bottom: rem(15px);
    }
@include phones{
  margin-bottom: rem(10px);
  font-size: rem(13px);
  max-width: rem(100px);
}
    &--orange {
      color: $textOrange;
    }
  }

  &__text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainWhite;
    text-align: start;
    @include phones{
      font-size: rem(13px);
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
    position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(82%, rgba(0, 0, 0, 1.0)), to(transparent));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 82%, transparent 100%);
    mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(82%, rgba(0, 0, 0, 1.0)), to(transparent));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 82%, transparent 100%);
@include phones{
  position: unset;
}
    &-wrap {
      flex: 0 1 rem(540px);
      margin-right: rem(38px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      @include tables {
        flex: 0 0 rem(160px);
      }
      @include phones{
        position: absolute;
        margin-right: 0;
        width: rem(126px);
        top: rem(-130px);
        right: 0px;
      }
    }
  }
}