@use "../config" as *;
.app-restaurants {
  height: rem(562px);
  position: relative;

  &__balls {
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: rem(614px);
    background-image: url("./images/backgrounds/balls_app-restaurants.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
    clip-path: ellipse(95% 100% at 50% 0%);
    z-index: 10;

    &-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        top: rem(70px);
        background: white;
        clip-path: ellipse(105% 100% at 50% 0%);
      }
    }
  }

  &__clip-wrap {
    clip-path: ellipse(95% 100% at 50% 0%);
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    height: 100%;
  }

  &__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: rem(540px);
    margin-right: 2rem;
  }

  &__heading {
    font-family: $headingFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: 120%;
    text-transform: uppercase;
    color: $mainWhite;
    margin-bottom: rem(20px);
    max-width: rem(445px);

    &--orange {
      color: $textOrange;
    }
  }

  &__text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $mainWhite;
    margin-bottom: rem(20px);
  }

  &__features {
    display: flex;
    align-items: flex-start;

    &-item {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: rem(49px);
      }
    }

    &-numbers {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 600;
      font-size: rem(37px);
      line-height: rem(43px);
      color: $mainWhite;
      white-space: nowrap;
    }

    &-title {
      font-family: $mainFont;
      font-style: normal;
      font-weight: 400;
      font-size: rem(18px);
      line-height: rem(21px);
      color: $mainWhite;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
    height: 100%;

    &-wrap {
      flex: 1 0 auto;;
      max-width: rem(371px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}