@use "../config" as *;

.app-platform {
  padding: rem(120px) 0 rem(62px);
  @include tables {
    padding: rem(43px) 0 rem(5px);
  }
  @include phones {
    padding: rem(30px) 0 rem(18px);
  }

  &__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include tables {
      flex-direction: column;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    flex: 0 1 rem(445px);
    @include tables {
      flex: 1 1 auto;
      margin-right: 0;
    }
  }

  &__heading {
    font-family: $headingFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: 120%;
    text-transform: uppercase;
    color: $mainBlack;
    max-width: rem(370px);
    margin-bottom: rem(30px);
    @include tables {
      font-size: rem(16px);
      margin-bottom: rem(15px);
    }
    @include phones {
      margin-bottom: rem(10px);
      font-size: rem(13px);
    }

    &--orange {
      color: $textOrange;
    }
  }

  &__text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: $textGray;
    @include phones {
      font-size: rem(13px);
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
    @include phones {
      width: 50%;
    }

    &-wrap {
      flex: 0 1 rem(633px);
      display: flex;
      align-items: center;
      justify-content: center;
      @include tables {
        flex: 1 1 auto;
      }
      @include phones {
        justify-content: flex-start;
      }
    }
  }
}