@use "../config" as *;

.contact-us {
  padding: rem(174px) 0 rem(120px);
  z-index: 10000;
  @include tables {
    padding: 0 0 rem(50px);
  }

  &__container {
  }

  &__form {
    width: 100%;
    background: $mainWhite;
    box-shadow: 0 rem(4px) rem(40px) rgba(0, 0, 0, 0.1);
    border-radius: rem(15px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: rem(30px);
    @include tables {
      margin-top: rem(-50px);
      padding: rem(18px) rem(30px);
    }
  }

  &__heading {
    font-family: $headingFont;
    font-style: normal;
    font-weight: 700;
    font-size: rem(32px);
    line-height: 98.9%;
    text-transform: uppercase;
    color: #414141;
    margin-bottom: rem(10px);
    @include tables {
      margin-bottom: rem(15px);
      font-size: rem(16px);
    }
  }

  &__text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: #414141;
    margin-bottom: rem(20px);
    @include tables {
      margin-bottom: rem(15px);
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    @include tables {
      flex-direction: column;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: rem(30px);
    flex: 1 1 auto;
    @include tables {
      margin-right: 0;
      width: 100%;
    }
  }

  &__input {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(19px);
    background: #EEEFF2;
    border-radius: rem(8px);
    outline: none;
    border: none;
    padding: rem(11px);
    width: 100%;

    &-list {
      display: flex;
      margin-bottom: rem(10px);
      width: 100%;
      @include tables {
        flex-direction: column;
        margin-bottom: rem(15px);
      }
    }

    &-item {
      flex: 0 1 rem(255px);
      @include tables {
        flex: 1 1 100%;
      }

      &:not(:last-child) {
        margin-right: rem(30px);
        @include tables {
          margin: 0 0 rem(15px);
        }
      }
    }
  }

  &__privacy {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    color: #565656;
    @include tables {
      max-width: rem(285px);
      margin-bottom: rem(15px);
      font-size: rem(12px);
    }

    &-link {
      text-decoration: underline;
      color: inherit;
    }
  }

  &__submit {
    outline: none;
    border: none;
    background: #F7620F;
    border-radius: rem(8px);
    font-family: $mainFont;
    font-style: normal;
    font-weight: 900;
    font-size: rem(16px);
    line-height: rem(19px);
    text-transform: uppercase;
    white-space: nowrap;
    color: $mainWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(25px) rem(50px);
    transition: 0.3s;
    @include tables {
      padding: rem(11px) 0;
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}