.footer {
  background: $mainOrange;

  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px) 0;
  }

  &__icon {
    width: rem(42px);
    height: rem(42px);
    background: white;
    border-radius: 100%;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__contacts {
    display: flex;

    &-item {
      &:not(:last-child) {
        margin-right: rem(30px);
      }
    }

    &-link {
      display: flex;
      align-items: center;
      font-family: $mainFont;
      font-style: normal;
      font-weight: 700;
      font-size: rem(16px);
      line-height: 170%;
      color: #FFFFFF;
    }
    &-text{
      margin-left: rem(5px);
    }
    &-icon{
      fill: white;
    }
  }

  &__login {
    margin-left: rem(98px);
    background: white;
    color: $mainOrange;
  }
}