doctype html
html(lang="en")
    head
        title Тестовое задание
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./main.css" type="text/css" rel="stylesheet")
    body
        div(class="wrapper")
            include blocks/header
            include sections/welcome
            include sections/app-download
            include sections/app-restaurants
            include sections/app-platform
            include sections/app-delivery
            include sections/faq
            include sections/reviews
            include blocks/footer
        script(type="text/javascript" src="./main.js")