@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/ubuntu-bold.ttf");
  font-weight: 700;
  font-style: normal;
}
