ul(class="contacts")
    li(class="contacts-item")
        a(class="contacts-link" href="tel:+79770000000")
            svg(class="contacts-icon" width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="./images/sprites.svg#phone")
            span(class="contacts-text") +7 977 000-00-00
    li(class="contacts-item")
        a(class="contacts-link" href="mailto:support@mail.ru")
            svg(class="contacts-icon" width="24" height="24" viewBox="0 0 24 24")
                use(xlink:href="./images/sprites.svg#mail")
            span(class="contacts-text") support@mail.ru