footer(class="footer")
    div(class="footer__container container")
        a(class="footer__icon" href="./")
        div(class="footer__wrap")
            include ../imports/contacts
            div(class="header__btn-wrap")
                a(class="header__btn btn" href="./")
                    span Войти