footer.footer
    div.footer__container.container
        a(class="footer__icon" href="./")
        div.footer__wrap
            include ../imports/contacts
            div.footer__btn-wrap
                a(class="footer__btn" href="./")
                    svg(class="footer__btn-icon" width="24" height="24" viewBox="0 0 24 24")
                        use(href="./images/sprites.svg#meeting-room")
                    span.footer__btn-text Войти
                a(class="footer__btn footer__btn--tables" href="./")
                    svg(class="footer__btn-icon" width="24" height="24" viewBox="0 0 24 24")
                        use(href="./images/sprites.svg#group-add")
                    span.footer__btn-text Стать партнером